.verticalLine {
    border-left: 6px solid #ffeb3b;
    height: 280px;
    position: absolute;
    margin-right: 2rem;
}

.horizontalLine{
    border-bottom: 5px solid black;
    width: 90%;
    height: 5px;
    line-height: 80%;
}

@media only screen and (min-width : 480px){
    .verticalLine{
        display: 'none'
    }    
}

@media only screen and (min-width : 480px){
    .horizontalLine{
        display: 'none'
}
}
